Resources I recommend:
- https://treyhunner.com/2015/12/python-list-comprehensions-now-in-color/
- https://towardsdatascience.com/apply-and-lambda-usage-in-pandas-b13a1ea037f7

This resource/programmer has a very strong opinion in this article, but provides a great breakdown of pros/cons of lambda functions.
- https://treyhunner.com/2018/09/stop-writing-lambda-expressions/


---
# Review

---

> __Q2)__ If we list all the natural numbers below 10 that are multiples of 3 or 5, we get: 3, 5, 6 and 9.
>
> The sum of these multiples is 23.
>
> __Find the sum of all the multiples of 3 or 5 below 1000.__

In [ ]:
multiples_list = []

In [ ]:
# list comprehension

# Syntax:
# new_things = [<thing to do with ITEM> for ITEM in old_things if condition_based_on(ITEM)]

---
> __Q3)__ I have a list of genders from a database:

In [ ]:
genders = ['Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 
           'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female',
          ]

> In order to use this list in a machine learning algorithm, we need `genders` to be converted to 1's and 0's.
>
> __First, write a for loop that appends a new list called `females` with a 1 if the gender is female and 0 otherwise.__

> Expected Output:
>
> `[0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1]`

In [ ]:
females = []

In [ ]:
# list comprehension

# Syntax:
# new_things = [<thing to do with ITEM> for ITEM in old_things if condition_based_on(ITEM)]
# another_new_list = [<thing to do> if condition_based_on(ITEM) else <thing to do> if condition_based_on(ITEM) else <thing to do> for ITEM in old_things]

---
> __Q4) Using a for loop, filter the following array of numbers into a new list containing only the even numbers.__

> **Hint:** If i is even, i % 2 == 0. Otherwise, i % 2 == 1. (% is the modulus operator. It returns the remainder.)

> Expected Output:
>
> `[2, 4, 6, 8, 10]`

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = []

In [ ]:
# list comprehension

# Intro to Pandas: Loading Data

In this section, you will learn how to use the Pandas library to:
- **load data** into your notebook from different flat files
- **connect to a database**. 
- **inspect and clean data** while or after loading data.
- We will discuss solutions to loading **large datasets**. 

***

### Quick tip!

In the import section of your scripts, be sure to add the line of code below:
> `pd.options.display.max_columns = None`

to see all columns in your pandas dataframes

---
# Using pandas, you can load data from zip, csv, excel, and many more!

### Read in data excel file
`df = pd.read_excel('data.xlsx')`

### similar options to .read_csv()
`pd.read_excel?`

---
### Read in zip file using `pd.read_csv('data.zip')`

In [1]:
# import needed libs
import pandas as pd

pd.options.display.max_columns = None

In [2]:
df = pd.read_csv('2016HMDALAR - National.zip')

/Users/cguy/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1,10,12,13,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,2016,0000000624,5,1,1.1,2,1.2,00067,3,1.3,11260,02,020,0028.21,2.1,2.2,5.1,,.1,.2,.3,1.4,.4,.5,.6,.7,1.5,2.3,0225,0,.8,.9,.10,NA,2.4,2.5,6,0000631,00005050,018.22,00091000,179.01,00001619,00001720,0.1
0,2016,0000001040,5,1,1,1,1,144,2,1,11260,2.0,20,19,2,2,5,,,,,5,,,,,1,2,0154,0,,,,NA,2,1,6,104,4194,58.97,91000,69.5,441,947,0
1,2016,0000001281,3,1,1,1,1,300,3,1,11260,2.0,170,10.04,2,5,5,,,,,8,,,,,1,5,0119,1,,,,NA,2,1,6,185,4831,17.93,91000,117.52,1374,1797,0
2,2016,0000002285,5,1,1,2,1,25,3,1,11260,2.0,20,17.31,2,5,1,,,,,8,,,,,2,5,0077,0,,,,NA,2,2,,52,5823,45.49,91000,79.2,1335,1843,0
3,2016,0000002285,5,1,1,2,1,26,3,1,11260,2.0,20,25.01,2,5,1,,,,,8,,,,,2,5,0098,0,,,,NA,2,2,,80,4993,38.15,91000,105.11,1338,1795,0
4,2016,0000002285,5,1,1,3,1,140,3,2,11260,2.0,20,2.02,3,5,6,,,,,8,,,,,2,5,0034,0,,,,NA,2,1,,84,5947,19.71,91000,104.99,1621,2011,0

In [ ]:
# df.info(memory_usage='deep')

### Notes:

- Too large? Reduce size of dataset at load:
    - Chunk size
    - using specific datatypes
    - reduce columns
- No headers? Options:
    - use `header=None` when loading in data
    - Read in data and provide headers

Resources:
- https://towardsdatascience.com/why-and-how-to-use-pandas-with-large-data-9594dda2ea4c
- https://www.dataquest.io/blog/pandas-big-data/

In [4]:
# Let's look at our options:

pd.read_csv?

Signature: pd.read_csv(filepath_or_buffer:Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, default ``None``
    Alias for sep.
header : int, list of int, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : array-like, optional
    List of column names to use. If file contains no header row, then you
    should explicitly pass ``header=None``. Duplicates in this list are not
    allowed.
index_col : int, str, sequence of int / str, or False, default ``None``
  Column(s) to use as the row labels of the ``DataFrame``, either given as
  string name or column index. If a sequence of int / str is given, a
  MultiIndex is used.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g. when you have a malformed file with delimiters at
  the end of each line.
usecols : list-like or callable, optional
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
squeeze : bool, default False
    If the parsed data only contains one column then return a Series.
prefix : str, optional
    Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
mangle_dupe_cols : bool, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
dtype : Type name or dict of column -> type, optional
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
    'c': 'Int64'}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
engine : {'c', 'python'}, optional
    Parser engine to use. The C engine is faster while the python engine is
    currently more feature-complete.
converters : dict, optional
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels.
true_values : list, optional
    Values to consider as True.
false_values : list, optional
    Values to consider as False.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : list-like, int or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c').
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : scalar, str, list-like, or dict, optional
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
    'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If True, skip over blank lines rather than interpreting as NaN values.
parse_dates : bool or list of int or names or list of lists or dict, default False
    The behavior is as follows:

    * boolean. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of datetimes,
    say because of an unparseable value or a mixture of timezones, the column
    or index will be returned unaltered as an object data type. For
    non-standard datetime parsing, use ``pd.to_datetime`` after
    ``pd.read_csv``. To parse an index or column with a mixture of timezones,
    specify ``date_parser`` to be a partially-applied
    :func:`pandas.to_datetime` with ``utc=True``. See
    :ref:`io.csv.mixed_timezones` for more.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.
keep_date_col : bool, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : boolean, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

    .. versionadded:: 0.25.0
iterator : bool, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.
compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and
    `filepath_or_buffer` is path-like, then detect compression from the
    following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
    decompression). If using 'zip', the ZIP file must contain only one data
    file to be read in. Set to None for no decompression.

    .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

thousands : str, optional
    Thousands separator.
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
lineterminator : str (length 1), optional
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : bool, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    One-character string used to escape other characters.
comment : str, optional
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, optional
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
error_bad_lines : bool, default True
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will dropped from the DataFrame that is
    returned.
warn_bad_lines : bool, default True
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output.
delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.

    .. versionadded:: 0.18.1 support for the Python parser.

low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser).
memory_map : bool, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this
    option can improve performance because there is no longer any I/O overhead.
float_precision : str, optional
    Specifies which converter the C engine should use for floating-point
    values. The options are `None` for the ordinary converter,
    `high` for the high-precision converter, and `round_trip` for the
    round-trip converter.

Returns
-------
DataFrame or TextParser
    A comma-separated values (csv) file is returned as two-dimensional
    data structure with labeled axes.

See Also
--------
to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Examples
--------
>>> pd.read_csv('data.csv')  # doctest: +SKIP
File:      ~/anaconda3/lib/python3.6/site-packages/pandas/io/parsers.py
Type:      function

### Column names: use `header=None`

In [5]:
df = pd.read_csv('2016HMDALAR - National.zip', header=None)
df.head()

/Users/cguy/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1,10,12,13,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44
0,2016,0000000624,5,1,1,2,1,67,3,1,11260,2.0,20,28.21,2,2,5,,,,,1,,,,,1,2,0225,0,,,,NA,2,2,6,631,5050,18.22,91000,179.01,1619,1720,0
1,2016,0000001040,5,1,1,1,1,144,2,1,11260,2.0,20,19,2,2,5,,,,,5,,,,,1,2,0154,0,,,,NA,2,1,6,104,4194,58.97,91000,69.5,441,947,0
2,2016,0000001281,3,1,1,1,1,300,3,1,11260,2.0,170,10.04,2,5,5,,,,,8,,,,,1,5,0119,1,,,,NA,2,1,6,185,4831,17.93,91000,117.52,1374,1797,0
3,2016,0000002285,5,1,1,2,1,25,3,1,11260,2.0,20,17.31,2,5,1,,,,,8,,,,,2,5,0077,0,,,,NA,2,2,,52,5823,45.49,91000,79.2,1335,1843,0
4,2016,0000002285,5,1,1,2,1,26,3,1,11260,2.0,20,25.01,2,5,1,,,,,8,,,,,2,5,0098,0,,,,NA,2,2,,80,4993,38.15,91000,105.11,1338,1795,0

### Column names: use `names=[list]`

> **Important Note:** Dataframes cannot have duplicate column names.

In [6]:
col_names = ['As of Year', 'Respondent ID', 'Agency Code', 
              'Loan Type', 'Property Type', 'Loan Purpose', 'Occupancy', 'Loan Amount', 
              'Preapproval', 'Action Type', 'MSA/MD', 'State Code', 'County Code', 'Census Tract Number', 
              'Applicant Ethnicity', 'Co Applicant Ethnicity', 'Applicant Race', 'Applicant Race_2', 
              'Applicant Race_3', 'Applicant Race_4', 'Applicant Race_5', 'Co Applicant Race', 'Co Applicant Race_2', 
              'Co Applicant Race_3', 'Co Applicant Race_4', 'Co Applicant Race_5', 'Applicant Sex', 
              'Co Applicant Sex', 'Applicant Income', 'Purchaser Type', 'Denial Reason', 'Denial Reason_2', 
              'Denial Reason_3', 'Rate Spread', 'HOEPA Status', 'Lien Status', 'Edit Status', 'Sequence Number', 
              'Population', 'Minority Population', 'FFIEC Median Family Income', 'Tract to MSA/MD Income', 
              'Number of Owner-occupied units', 'Number of 1-to 4-Family units', 'Application Date Indicator',
             ]

In [8]:
df = pd.read_csv('2016HMDALAR - National.zip', names=col_names)
df.head()

/Users/cguy/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1,10,12,13,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,As of Year,Respondent ID,Agency Code,Loan Type,Property Type,Loan Purpose,Occupancy,Loan Amount,Preapproval,Action Type,MSA/MD,State Code,County Code,Census Tract Number,Applicant Ethnicity,Co Applicant Ethnicity,Applicant Race,Applicant Race_2,Applicant Race_3,Applicant Race_4,Applicant Race_5,Co Applicant Race,Co Applicant Race_2,Co Applicant Race_3,Co Applicant Race_4,Co Applicant Race_5,Applicant Sex,Co Applicant Sex,Applicant Income,Purchaser Type,Denial Reason,Denial Reason_2,Denial Reason_3,Rate Spread,HOEPA Status,Lien Status,Edit Status,Sequence Number,Population,Minority Population,FFIEC Median Family Income,Tract to MSA/MD Income,Number of Owner-occupied units,Number of 1-to 4-Family units,Application Date Indicator
0,2016,0000000624,5,1,1,2,1,67,3,1,11260,2.0,20,28.21,2,2,5,,,,,1,,,,,1,2,0225,0,,,,NA,2,2,6,631,5050,18.22,91000,179.01,1619,1720,0
1,2016,0000001040,5,1,1,1,1,144,2,1,11260,2.0,20,19,2,2,5,,,,,5,,,,,1,2,0154,0,,,,NA,2,1,6,104,4194,58.97,91000,69.5,441,947,0
2,2016,0000001281,3,1,1,1,1,300,3,1,11260,2.0,170,10.04,2,5,5,,,,,8,,,,,1,5,0119,1,,,,NA,2,1,6,185,4831,17.93,91000,117.52,1374,1797,0
3,2016,0000002285,5,1,1,2,1,25,3,1,11260,2.0,20,17.31,2,5,1,,,,,8,,,,,2,5,0077,0,,,,NA,2,2,,52,5823,45.49,91000,79.2,1335,1843,0
4,2016,0000002285,5,1,1,2,1,26,3,1,11260,2.0,20,25.01,2,5,1,,,,,8,,,,,2,5,0098,0,,,,NA,2,2,,80,4993,38.15,91000,105.11,1338,1795,0

### Column names: use `.columns` after data load

In [9]:
df = pd.read_csv('2016HMDALAR - National.zip', header=None)

df.columns = ['As of Year', 'Respondent ID', 'Agency Code', 
              'Loan Type', 'Property Type', 'Loan Purpose', 'Occupancy', 'Loan Amount', 
              'Preapproval', 'Action Type', 'MSA/MD', 'State Code', 'County Code', 'Census Tract Number', 
              'Applicant Ethnicity', 'Co Applicant Ethnicity', 'Applicant Race', 'Applicant Race_2', 
              'Applicant Race_3', 'Applicant Race_4', 'Applicant Race_5', 'Co Applicant Race', 'Co Applicant Race_2', 
              'Co Applicant Race_3', 'Co Applicant Race_4', 'Co Applicant Race_5', 'Applicant Sex', 
              'Co Applicant Sex', 'Applicant Income', 'Purchaser Type', 'Denial Reason', 'Denial Reason_2', 
              'Denial Reason_3', 'Rate Spread', 'HOEPA Status', 'Lien Status', 'Edit Status', 'Sequence Number', 
              'Population', 'Minority Population', 'FFIEC Median Family Income', 'Tract to MSA/MD Income', 
              'Number of Owner-occupied units', 'Number of 1-to 4-Family units', 'Application Date Indicator',
             ]

df.head()

/Users/cguy/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1,10,12,13,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,As of Year,Respondent ID,Agency Code,Loan Type,Property Type,Loan Purpose,Occupancy,Loan Amount,Preapproval,Action Type,MSA/MD,State Code,County Code,Census Tract Number,Applicant Ethnicity,Co Applicant Ethnicity,Applicant Race,Applicant Race_2,Applicant Race_3,Applicant Race_4,Applicant Race_5,Co Applicant Race,Co Applicant Race_2,Co Applicant Race_3,Co Applicant Race_4,Co Applicant Race_5,Applicant Sex,Co Applicant Sex,Applicant Income,Purchaser Type,Denial Reason,Denial Reason_2,Denial Reason_3,Rate Spread,HOEPA Status,Lien Status,Edit Status,Sequence Number,Population,Minority Population,FFIEC Median Family Income,Tract to MSA/MD Income,Number of Owner-occupied units,Number of 1-to 4-Family units,Application Date Indicator
0,2016,0000000624,5,1,1,2,1,67,3,1,11260,2.0,20,28.21,2,2,5,,,,,1,,,,,1,2,0225,0,,,,NA,2,2,6,631,5050,18.22,91000,179.01,1619,1720,0
1,2016,0000001040,5,1,1,1,1,144,2,1,11260,2.0,20,19,2,2,5,,,,,5,,,,,1,2,0154,0,,,,NA,2,1,6,104,4194,58.97,91000,69.5,441,947,0
2,2016,0000001281,3,1,1,1,1,300,3,1,11260,2.0,170,10.04,2,5,5,,,,,8,,,,,1,5,0119,1,,,,NA,2,1,6,185,4831,17.93,91000,117.52,1374,1797,0
3,2016,0000002285,5,1,1,2,1,25,3,1,11260,2.0,20,17.31,2,5,1,,,,,8,,,,,2,5,0077,0,,,,NA,2,2,,52,5823,45.49,91000,79.2,1335,1843,0
4,2016,0000002285,5,1,1,2,1,26,3,1,11260,2.0,20,25.01,2,5,1,,,,,8,,,,,2,5,0098,0,,,,NA,2,2,,80,4993,38.15,91000,105.11,1338,1795,0

### Reduce size of dataset at load using `chunksize=int`

In [11]:
# Chunk size approach:

df_chunk = pd.read_csv('2016HMDALAR - National.zip', names=col_names, chunksize=1000000)

chunk_list = []  # append each chunk df here 

# Each chunk is in df format
for chunk in df_chunk:  

    # Once the data filtering is done, append the chunk to list
    chunk_list.append(chunk)
    
# concat the list into dataframe 
df_concat = pd.concat(chunk_list)

df_concat.head()

/Users/cguy/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1,10,12,13,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/cguy/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1,38,39,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/cguy/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1,10,12,13,28,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/cguy/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1,10,12,13,38,39,40,41,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,As of Year,Respondent ID,Agency Code,Loan Type,Property Type,Loan Purpose,Occupancy,Loan Amount,Preapproval,Action Type,MSA/MD,State Code,County Code,Census Tract Number,Applicant Ethnicity,Co Applicant Ethnicity,Applicant Race,Applicant Race_2,Applicant Race_3,Applicant Race_4,Applicant Race_5,Co Applicant Race,Co Applicant Race_2,Co Applicant Race_3,Co Applicant Race_4,Co Applicant Race_5,Applicant Sex,Co Applicant Sex,Applicant Income,Purchaser Type,Denial Reason,Denial Reason_2,Denial Reason_3,Rate Spread,HOEPA Status,Lien Status,Edit Status,Sequence Number,Population,Minority Population,FFIEC Median Family Income,Tract to MSA/MD Income,Number of Owner-occupied units,Number of 1-to 4-Family units,Application Date Indicator
0,2016,0000000624,5,1,1,2,1,67,3,1,11260,2.0,20,28.21,2,2,5,,,,,1,,,,,1,2,0225,0,,,,NA,2,2,6,631,5050,18.22,91000,179.01,1619,1720,0
1,2016,0000001040,5,1,1,1,1,144,2,1,11260,2.0,20,19,2,2,5,,,,,5,,,,,1,2,0154,0,,,,NA,2,1,6,104,4194,58.97,91000,69.5,441,947,0
2,2016,0000001281,3,1,1,1,1,300,3,1,11260,2.0,170,10.04,2,5,5,,,,,8,,,,,1,5,0119,1,,,,NA,2,1,6,185,4831,17.93,91000,117.52,1374,1797,0
3,2016,0000002285,5,1,1,2,1,25,3,1,11260,2.0,20,17.31,2,5,1,,,,,8,,,,,2,5,0077,0,,,,NA,2,2,,52,5823,45.49,91000,79.2,1335,1843,0
4,2016,0000002285,5,1,1,2,1,26,3,1,11260,2.0,20,25.01,2,5,1,,,,,8,,,,,2,5,0098,0,,,,NA,2,2,,80,4993,38.15,91000,105.11,1338,1795,0

### Reduce size of dataset at load using `dtype={dictionary}`

In [12]:
# Create dictionary with column names as keys and values as data types

column_types = {}

column_types[1] = 'str'
column_types[2] = 'int8'
column_types[3] = 'int8'
column_types[4] = 'int8'
column_types[5] = 'int8'
column_types[6] = 'int8'
column_types[7] = 'int64'
column_types[8] = 'int8'
column_types[9] = 'int8'
column_types[10] = 'str'
column_types[11] = 'str'
column_types[12] = 'str'
column_types[13] = 'str'
column_types[14] = 'int8'
column_types[15] = 'int8'
column_types[16] = 'int8'
column_types[21] = 'int8'
column_types[26] = 'int8'
column_types[27] = 'int8'

column_types

{1: 'str',
 2: 'int8',
 3: 'int8',
 4: 'int8',
 5: 'int8',
 6: 'int8',
 7: 'int64',
 8: 'int8',
 9: 'int8',
 10: 'str',
 11: 'str',
 12: 'str',
 13: 'str',
 14: 'int8',
 15: 'int8',
 16: 'int8',
 21: 'int8',
 26: 'int8',
 27: 'int8'}

In [14]:
# Read in data with pre-set dtypes dictionary
df = pd.read_csv('2016HMDALAR - National.zip', header=None, dtype=column_types)
df.columns = col_names
df.head()

/Users/cguy/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,As of Year,Respondent ID,Agency Code,Loan Type,Property Type,Loan Purpose,Occupancy,Loan Amount,Preapproval,Action Type,MSA/MD,State Code,County Code,Census Tract Number,Applicant Ethnicity,Co Applicant Ethnicity,Applicant Race,Applicant Race_2,Applicant Race_3,Applicant Race_4,Applicant Race_5,Co Applicant Race,Co Applicant Race_2,Co Applicant Race_3,Co Applicant Race_4,Co Applicant Race_5,Applicant Sex,Co Applicant Sex,Applicant Income,Purchaser Type,Denial Reason,Denial Reason_2,Denial Reason_3,Rate Spread,HOEPA Status,Lien Status,Edit Status,Sequence Number,Population,Minority Population,FFIEC Median Family Income,Tract to MSA/MD Income,Number of Owner-occupied units,Number of 1-to 4-Family units,Application Date Indicator
0,2016,0000000624,5,1,1,2,1,67,3,1,11260,02,020,0028.21,2,2,5,,,,,1,,,,,1,2,0225,0,,,,NA,2,2,6,631,5050,18.22,91000,179.01,1619,1720,0
1,2016,0000001040,5,1,1,1,1,144,2,1,11260,02,020,0019.00,2,2,5,,,,,5,,,,,1,2,0154,0,,,,NA,2,1,6,104,4194,58.97,91000,69.5,441,947,0
2,2016,0000001281,3,1,1,1,1,300,3,1,11260,02,170,0010.04,2,5,5,,,,,8,,,,,1,5,0119,1,,,,NA,2,1,6,185,4831,17.93,91000,117.52,1374,1797,0
3,2016,0000002285,5,1,1,2,1,25,3,1,11260,02,020,0017.31,2,5,1,,,,,8,,,,,2,5,0077,0,,,,NA,2,2,,52,5823,45.49,91000,79.2,1335,1843,0
4,2016,0000002285,5,1,1,2,1,26,3,1,11260,02,020,0025.01,2,5,1,,,,,8,,,,,2,5,0098,0,,,,NA,2,2,,80,4993,38.15,91000,105.11,1338,1795,0

### Reduce size of dataset at load using `usecols=["col_n", "col_n", "col_n"]`

In [16]:
df_reduced = pd.read_csv('2016HMDALAR - National.zip', 
                 header=None, dtype=column_types, 
                 usecols=[1, 6, 14])
df_reduced.head()

           1   6   14
0  0000000624   1   2
1  0000001040   1   2
2  0000001281   1   2
3  0000002285   1   2
4  0000002285   1   2

# Connecting to a database

In [18]:
# import the needed libraries
import pandas as pd
from sqlalchemy import create_engine
import pandas.io.sql as sqlio

pd.options.display.max_columns = None

# Create connection to external DB (using sqlalchemy)
# SYNTAX: engine = create_engine('dbengine+driver_optional://myusername:mypassword@hostname:port/dbname')
engine = create_engine('postgresql://oag_test:GtuEd90WFJPvkouCpdW4@test-oag-db.cknjqxktq50p.us-east-2.rds.amazonaws.com:5432/oag_HMDA_Loan_Application')

# Put query results into a dataframe
sql = "SELECT * FROM tester_tab;"
dat = sqlio.read_sql_query(sql, engine)

# Turn off connection
engine = None

dat.head()

,index,As of Year,Respondent ID,Agency Code,Loan Type,Property Type,Loan Purpose,Occupancy,Loan Amount,Preapproval,Action Type,MSA/MD,State Code,County Code,Census Tract Number,Applicant Ethnicity,Co Applicant Ethnicity,Applicant Race,Applicant Race_2,Applicant Race_3,Applicant Race_4,Applicant Race_5,Co Applicant Race,Co Applicant Race_2,Co Applicant Race_3,Co Applicant Race_4,Co Applicant Race_5,Applicant Sex,Co Applicant Sex,Applicant Income,Purchaser Type,Denial Reason,Denial Reason_2,Denial Reason_3,Rate Spread,HOEPA Status,Lien Status,Edit Status,Sequence Number,Population,Minority Population,FFIEC Median Family Income,Tract to MSA/MD Income,Number of Owner-occupied units,Number of 1-to 4-Family units,Application Date Indicator
0,5322939,2016,0000011065,5,1,1,1,1,840,3,3,19740,08,059,0120.34,2,2,5,,,,,5,,,,,1,2,0208,0,9,,,NA,2,1,,3223,3459,5.64,80100,207.35,00001285,1303,0
1,8801353,2016,26-4599244,7,1,1,3,1,200,3,3,NA,31,179,9786.00,2,1,5,,,,,5,,,,,1,2,0100,0,,,,NA,2,1,,640735,00003683,004.59,00060500,091.06,00001165,00001651,0
2,1723274,2016,22-3039688,9,3,1,3,1,273,3,1,40140,06,065,0430.08,2,5,5,,,,,8,,,,,1,5,NA,2,,,,NA,2,1,6,329186,5394,55.43,61400,97.27,1037,1738,0
3,9491841,2016,13-6131491,7,3,1,3,1,152,3,6,17300,47,125,1011.02,4,4,7,,,,,7,,,,,4,4,NA,2,,,,NA,2,4,,91503,00007697,042.93,00057300,085.37,00001606,00002886,2
4,10197863,2016,42-1554181,7,1,1,1,1,243,3,1,19124,48,085,0306.05,2,2,5,,,,,5,,,,,1,2,0144,1,,,,NA,2,1,,15860,00006293,045.77,71700,092.90,00001376,00001770,0

# Inspect the data

In [19]:
df.sample(10)

,As of Year,Respondent ID,Agency Code,Loan Type,Property Type,Loan Purpose,Occupancy,Loan Amount,Preapproval,Action Type,MSA/MD,State Code,County Code,Census Tract Number,Applicant Ethnicity,Co Applicant Ethnicity,Applicant Race,Applicant Race_2,Applicant Race_3,Applicant Race_4,Applicant Race_5,Co Applicant Race,Co Applicant Race_2,Co Applicant Race_3,Co Applicant Race_4,Co Applicant Race_5,Applicant Sex,Co Applicant Sex,Applicant Income,Purchaser Type,Denial Reason,Denial Reason_2,Denial Reason_3,Rate Spread,HOEPA Status,Lien Status,Edit Status,Sequence Number,Population,Minority Population,FFIEC Median Family Income,Tract to MSA/MD Income,Number of Owner-occupied units,Number of 1-to 4-Family units,Application Date Indicator
14768491,2016,26-2049351,7,2,1,1,1,162,3,6,16540,42,055,0103.00,4,4,7,,,,,7,,,,,4,4,NA,2,,,,NA,2,4,,153017,00009325,006.18,00069900,096.34,00002750,00003457,2
13401692,2016,75-3170028,7,2,1,1,1,157,3,1,15804,34,005,7003.06,2,1,5,,,,,5,,,,,2,1,0074,2,,,,NA,2,1,,21413,2542,7.87,84200,129.37,00000841,904,0
11861690,2016,0000451965,9,1,2,3,2,60,3,3,34940,12,021,0111.05,2,5,5,,,,,8,,,,,1,5,0051,0,4,,,NA,2,1,,476526,2546,26.04,65700,065.39,00001151,00001420,0
13122227,2016,26-4599244,7,1,1,1,1,238,2,1,15764,25,009,2231.00,2,5,5,,,,,8,,,,,2,5,0062,3,,,,NA,2,1,,745310,3880,4.77,98600,114.04,1216,1781,0
9437704,2016,0000311845,9,1,1,2,2,40,3,1,NA,40,147,0013.00,4,5,7,,,,,8,,,,,4,5,NA,0,,,,NA,2,2,6,5412,00005743,027.01,00051600,120.98,00001857,00002381,0
13858,2016,04-3660901,5,1,1,1,1,487,2,1,11260,02,020,0028.23,2,5,5,,,,,8,,,,,1,5,0410,8,,,,NA,2,1,,4823,5217,15.85,91000,194.96,1648,1945,0
7612158,2016,42-1739728,7,2,1,3,1,174,3,6,NA,21,151,0110.00,3,3,6,,,,,6,,,,,3,3,NA,2,,,,NA,2,4,,28649,00006219,004.86,00046400,114.35,00001808,00002486,2
7524751,2016,0000017040,3,1,1,1,1,99,3,1,31140,21,111,0127.03,2,5,5,,,,,8,,,,,2,5,0026,0,,,,02.07,2,1,,3,6069,19.08,66800,84.88,00001717,2168,0
1525971,2016,0000068428,5,1,1,3,1,255,3,3,37100,06,111,0050.02,3,5,6,,,,,8,,,,,3,5,0075,0,9,,,NA,2,1,,335,3003,91.28,88300,50.16,238,692,0
6297529,2016,0000016450,3,1,1,3,1,213,3,1,16974,17,093,8906.00,2,2,5,,,,,5,,,,,1,2,0123,7,,,,NA,2,1,6,6156,9414,9.61,74700,117.97,00003014,3555,0

In [20]:
df_sample = df.sample(1000)

In [21]:
df.sample(50000).to_csv('~/Downloads/testing.csv')

In [22]:
df.columns

Index(['As of Year', 'Respondent ID', 'Agency Code', 'Loan Type',
       'Property Type', 'Loan Purpose', 'Occupancy', 'Loan Amount',
       'Preapproval', 'Action Type', 'MSA/MD', 'State Code', 'County Code',
       'Census Tract Number', 'Applicant Ethnicity', 'Co Applicant Ethnicity',
       'Applicant Race', 'Applicant Race_2', 'Applicant Race_3',
       'Applicant Race_4', 'Applicant Race_5', 'Co Applicant Race',
       'Co Applicant Race_2', 'Co Applicant Race_3', 'Co Applicant Race_4',
       'Co Applicant Race_5', 'Applicant Sex', 'Co Applicant Sex',
       'Applicant Income', 'Purchaser Type', 'Denial Reason',
       'Denial Reason_2', 'Denial Reason_3', 'Rate Spread', 'HOEPA Status',
       'Lien Status', 'Edit Status', 'Sequence Number', 'Population',
       'Minority Population', 'FFIEC Median Family Income',
       'Tract to MSA/MD Income', 'Number of Owner-occupied units',
       'Number of 1-to 4-Family units', 'Application Date Indicator'],
      dtype='object')

In [23]:
df.index

RangeIndex(start=0, stop=16332987, step=1)

In [24]:
df.shape

(16332987, 45)

In [25]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16332987 entries, 0 to 16332986
Data columns (total 45 columns):
As of Year                        int64
Respondent ID                     object
Agency Code                       int8
Loan Type                         int8
Property Type                     int8
Loan Purpose                      int8
Occupancy                         int8
Loan Amount                       int64
Preapproval                       int8
Action Type                       int8
MSA/MD                            object
State Code                        object
County Code                       object
Census Tract Number               object
Applicant Ethnicity               int8
Co Applicant Ethnicity            int8
Applicant Race                    int8
Applicant Race_2                  object
Applicant Race_3                  object
Applicant Race_4                  object
Applicant Race_5                  object
Co Applicant Race                 int8
Co Applicant Race_2               object
Co Applicant Race_3               object
Co Applicant Race_4               object
Co Applicant Race_5               object
Applicant Sex                     int8
Co Applicant Sex                  int8
Applicant Income                  object
Purchaser Type                    int64
Denial Reason                     object
Denial Reason_2                   object
Denial Reason_3                   object
Rate Spread                       object
HOEPA Status                      int64
Lien Status                       int64
Edit Status                       object
Sequence Number                   int64
Population                        object
Minority Population               object
FFIEC Median Family Income        object
Tract to MSA/MD Income            object
Number of Owner-occupied units    object
Number of 1-to 4-Family units     object
Application Date Indicator        int64
dtypes: int64(7), int8(13), object(25)
memory usage: 4.1+ GB

In [28]:
df.describe(include='all')

,As of Year,Respondent ID,Agency Code,Loan Type,Property Type,Loan Purpose,Occupancy,Loan Amount,Preapproval,Action Type,MSA/MD,State Code,County Code,Census Tract Number,Applicant Ethnicity,Co Applicant Ethnicity,Applicant Race,Applicant Race_2,Applicant Race_3,Applicant Race_4,Applicant Race_5,Co Applicant Race,Co Applicant Race_2,Co Applicant Race_3,Co Applicant Race_4,Co Applicant Race_5,Applicant Sex,Co Applicant Sex,Applicant Income,Purchaser Type,Denial Reason,Denial Reason_2,Denial Reason_3,Rate Spread,HOEPA Status,Lien Status,Edit Status,Sequence Number,Population,Minority Population,FFIEC Median Family Income,Tract to MSA/MD Income,Number of Owner-occupied units,Number of 1-to 4-Family units,Application Date Indicator
count,16332987.0,16332987,1.633299e+07,1.633299e+07,1.633299e+07,1.633299e+07,1.633299e+07,1.633299e+07,1.633299e+07,1.633299e+07,16332987,16078416,16332987,16332987,1.633299e+07,1.633299e+07,1.633299e+07,16332987,16332987,16332987,16332987,1.633299e+07,16332987,16332987,16332987,16332987,1.633299e+07,1.633299e+07,16332987,1.633299e+07,16332987,16332987,16332987,16332987,1.633299e+07,1.633299e+07,16332987,1.633299e+07,16332987,16332987,16332987.0,16332987,16332987,16332987,1.633299e+07
unique,NaN,6644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,410,52,326,23844,NaN,NaN,NaN,6,6,6,6,NaN,6,6,6,6,NaN,NaN,5293,NaN,10,10,10,1009,NaN,NaN,2,NaN,17145,19173,423.0,32135,6233,7821,NaN
top,NaN,0000451965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA,06,037,NA,NaN,NaN,NaN,,,,,NaN,,,,,NaN,NaN,NA,NaN,,,,NA,NaN,NaN,,NaN,NA,NA,62400.0,NA,NA,NA,NaN
freq,NaN,1241799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1923529,2235971,603591,318839,NaN,NaN,NaN,16240538,16326648,16331655,16332085,NaN,16301402,16331261,16332612,16332707,NaN,NaN,2490092,NaN,14770498,15991335,16270010,15878316,NaN,NaN,13782566,NaN,320034,320066,482162.0,322089,322889,321827,NaN
mean,2016.0,NaN,6.820224e+00,1.441077e+00,1.034458e+00,2.037854e+00,1.094931e+00,2.451805e+02,2.828563e+00,2.594288e+00,NaN,NaN,NaN,NaN,2.213436e+00,3.719479e+00,4.991835e+00,NaN,NaN,NaN,NaN,6.642357e+00,NaN,NaN,NaN,NaN,1.680916e+00,3.660499e+00,NaN,1.639489e+00,NaN,NaN,NaN,NaN,1.999877e+00,1.480997e+00,NaN,1.157201e+05,NaN,NaN,NaN,NaN,NaN,NaN,2.733116e-01
std,0.0,NaN,2.165480e+00,7.415707e-01,1.995907e-01,9.667684e-01,3.068349e-01,7.170830e+02,4.549591e-01,1.903141e+00,NaN,NaN,NaN,NaN,7.409244e-01,1.440965e+00,1.162610e+00,NaN,NaN,NaN,NaN,1.618634e+00,NaN,NaN,NaN,NaN,9.725020e-01,1.515116e+00,NaN,2.417372e+00,NaN,NaN,NaN,NaN,1.106787e-02,1.058045e+00,NaN,2.177825e+05,NaN,NaN,NaN,NaN,NaN,NaN,6.869666e-01
min,2016.0,NaN,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
25%,2016.0,NaN,7.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.160000e+02,3.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN,2.000000e+00,2.000000e+00,5.000000e+00,NaN,NaN,NaN,NaN,5.000000e+00,NaN,NaN,NaN,NaN,1.000000e+00,2.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,NaN,2.000000e+00,1.000000e+00,NaN,2.837000e+03,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
50%,2016.0,NaN,7.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,1.870000e+02,3.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN,2.000000e+00,5.000000e+00,5.000000e+00,NaN,NaN,NaN,NaN,8.000000e+00,NaN,NaN,NaN,NaN,1.000000e+00,5.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,NaN,2.000000e+00,1.000000e+00,NaN,2.080200e+04,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
75%,2016.0,NaN,9.000000e+00,2.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00,2.930000e+02,3.000000e+00,4.000000e+00,NaN,NaN,NaN,NaN,2.000000e+00,5.000000e+00,5.000000e+00,NaN,NaN,NaN,NaN,8.000000e+00,NaN,NaN,NaN,NaN,2.000000e+00,5.000000e+00,NaN,2.000000e+00,NaN,NaN,NaN,NaN,2.000000e+00,1.000000e+00,NaN,1.066440e+05,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
max,2016.0,NaN,9.000000e+00,4.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,9.999900e+04,3.000000e+00,8.000000e+00,NaN,NaN,NaN,NaN,4.000000e+00,5.000000e+00,7.000000e+00,NaN,NaN,NaN,NaN,8.000000e+00,NaN,NaN,NaN,NaN,4.000000e+00,5.000000e+00,NaN,9.000000e+00,NaN,NaN,NaN,NaN,2.000000e+00,4.000000e+00,NaN,1.241799e+06,NaN,NaN,NaN,NaN,NaN,NaN,2.000000e+00

In [29]:
df['State Code'].value_counts()

06    2235971
48    1266767
12    1043942
17     583019
13     547637
42     526005
37     519897
51     494057
39     493271
08     483436
04     478386
36     477313
26     470652
53     466566
34     399389
24     358958
47     350490
25     350131
18     319123
29     312237
27     308571
55     277224
45     257644
41     249739
49     227871
01     226918
32     196764
22     195937
21     185587
40     165463
19     149227
09     146885
05     131352
20     124922
28     107199
16     103880
35      89390
31      89068
33      72628
23      64142
54      59932
15      57857
10      56002
72      55699
30      50537
44      49775
11      38399
46      37648
02      36105
38      32670
56      30163
50      25971
Name: State Code, dtype: int64