# Connecting to a database

In [1]:
# import the needed libraries
import pandas as pd
from sqlalchemy import create_engine
import pandas.io.sql as sqlio

pd.options.display.max_columns = None

# Create connection to external DB (using sqlalchemy)
# SYNTAX: engine = create_engine('dbengine+driver_optional://myusername:mypassword@hostname:port/dbname')
engine = create_engine('postgresql://un:pw@test-oag-db.cknjqxktq50p.us-east-2.rds.amazonaws.com:5432/oag_HMDA_Loan_Application')

# Put query results into a dataframe
sql = "SELECT * FROM tester_tab;"
dat = sqlio.read_sql_query(sql, engine)

# Turn off connection
engine = None

dat.head()

,index,As of Year,Respondent ID,Agency Code,Loan Type,Property Type,Loan Purpose,Occupancy,Loan Amount,Preapproval,Action Type,MSA/MD,State Code,County Code,Census Tract Number,Applicant Ethnicity,Co Applicant Ethnicity,Applicant Race,Applicant Race_2,Applicant Race_3,Applicant Race_4,Applicant Race_5,Co Applicant Race,Co Applicant Race_2,Co Applicant Race_3,Co Applicant Race_4,Co Applicant Race_5,Applicant Sex,Co Applicant Sex,Applicant Income,Purchaser Type,Denial Reason,Denial Reason_2,Denial Reason_3,Rate Spread,HOEPA Status,Lien Status,Edit Status,Sequence Number,Population,Minority Population,FFIEC Median Family Income,Tract to MSA/MD Income,Number of Owner-occupied units,Number of 1-to 4-Family units,Application Date Indicator
0,5322939,2016,0000011065,5,1,1,1,1,840,3,3,19740,08,059,0120.34,2,2,5,,,,,5,,,,,1,2,0208,0,9,,,NA,2,1,,3223,3459,5.64,80100,207.35,00001285,1303,0
1,8801353,2016,26-4599244,7,1,1,3,1,200,3,3,NA,31,179,9786.00,2,1,5,,,,,5,,,,,1,2,0100,0,,,,NA,2,1,,640735,00003683,004.59,00060500,091.06,00001165,00001651,0
2,1723274,2016,22-3039688,9,3,1,3,1,273,3,1,40140,06,065,0430.08,2,5,5,,,,,8,,,,,1,5,NA,2,,,,NA,2,1,6,329186,5394,55.43,61400,97.27,1037,1738,0
3,9491841,2016,13-6131491,7,3,1,3,1,152,3,6,17300,47,125,1011.02,4,4,7,,,,,7,,,,,4,4,NA,2,,,,NA,2,4,,91503,00007697,042.93,00057300,085.37,00001606,00002886,2
4,10197863,2016,42-1554181,7,1,1,1,1,243,3,1,19124,48,085,0306.05,2,2,5,,,,,5,,,,,1,2,0144,1,,,,NA,2,1,,15860,00006293,045.77,71700,092.90,00001376,00001770,0

---
# The Megan Challenge

- Create a `test.zip` file
- Add some contents. A mix of files? Several files with the same extension?
- Use the first solution on this stackoverflow thread to test your .zip file out: 
> https://stackoverflow.com/questions/44575251/reading-multiple-files-contained-in-a-zip-file-with-pandas


__We want to answer: When using `.read_csv()` with a zip file that contains more than one file, how does it work? How about a zip file comprised of mixed file types?__

---

In [2]:
import pandas as pd

In [ ]:
df = pd.read_excel('Allcounties.')

---
# Common Data Prep/Cleaning Tasks using Pandas/Python

In [ ]:
# basic DataFrame operations
df.head()
df.tail()
df.shape
df.columns
df.Index

# selecting columns
df.column_name
df['column_name']

# renaming columns
df.rename({'old_name':'new_name'}, inplace=True)
df.columns = ['new_column_a', 'new_column_b']

# notable columns operations
df.describe() # five number summary
df.column_name.nunique() # number of unique values
df.column_name.value_counts() # number of occurrences of each value in column

# filtering
df[df.column_name < 50] # filter column to be less than 50

# sorting
df.sort_values(by='column_name', ascending = False) # sort biggest to smallest